<div class="container animated fadeInLeft" >

	<div class="text-center">
		  <button type="button" class="nes-btn" [routerLink]="['/']"><i class="fas fa-home"></i> Regresar</button>
	</div>

	<section class="nes-container is-dark with-title mt-3" *ngIf="ownGames < 4" >
		<h3 class="title">Crear juego</h3>
	     <button class="nes-btn is-success btn-block" type="button" [routerLink]="['/game']">Nuevo Juego</button>
	</section>

	<section class="nes-container is-dark with-title mt-3"  >
		<h3 class="title">Buscar juego</h3>
		<input type="text" class="nes-input " name="invitationId" id="invitationId" [(ngModel)]="invitationId" placeholder="ID del juego">		
		<button class="nes-btn is-warning btn-block" type="button" [routerLink]="['/invitation',  invitationId]" [disabled]="!invitationId" [ngClass]="!invitationId ? 'is-disabled' : ''">BUSCAR</button>			

	</section>

	<div *ngIf="listGames && listGames.length > 0">
		<div class="text-center mt-3">
			<h3 class="nes-text is-primary">Mis juegos</h3>
		</div>

		<section class="nes-container is-dark with-title mt-3" *ngFor="let myGame of listGames" >
			<h3 class="title">{{ myGame.title }}</h3>
	
			<div>
				<ul class="list-group" >

					<li class="list-group-item-results d-flex justify-content-between align-items-center">
						ID <span class="text-right">{{ myGame.uid }}</span>
					</li>
					<li class="list-group-item-results d-flex justify-content-between align-items-center">
						<span class="nes-text is-error" *ngIf="myGame.status == 'finished'">Finalizado</span>
						<span class="nes-text is-success"  *ngIf="myGame.status == 'online'">Online</span>						
						<span class="nes-text is-warning"  *ngIf="myGame.status == 'revision'">Revisión</span>
					</li>
					
					<li class="list-group-item-results d-flex justify-content-between align-items-center">
						Rondas <span class="text-right">{{ (myGame.current + 1) }}/{{ myGame.rounds }}</span>
					</li>

					<li class="list-group-item-results" *ngFor="let player of myGame.connected">
						<!--
						<div>
							<img src="{{ player.photo }}" class="mygames-pic" [ngClass]="player.status ? 'pic-border-success' : 'pic-border-error'">
						</div>
						-->
						<span class="nes-text" [ngClass]="player.status ? 'is-success' : 'is-error'">{{ player.name }}</span>
					</li>

					<li class="list-group-item-results">
						<button type="button" *ngIf="playerUser.uid == myGame.owner" class="nes-btn is-error btn-sm mr-1 btn-block" (click)="deleteGame(myGame)">
							Eliminar {{ userId }}<i class="fas fa-trash-alt"></i>
						</button>

						<button type="button" *ngIf="myGame.status == 'online' && playerUser.uid == myGame.owner  && myGame.current == 0" class="nes-btn btn-sm btn-block is-warning mr-1" [routerLink]="['/game/', myGame.uid]">
							Editar <i class="fas fa-sync"></i>
						</button>

						<button type="button" *ngIf="playerUser.uid == myGame.owner" class="nes-btn btn-sm btn-block is-warning mr-1"  [routerLink]="['/game/', myGame.uid]">
							Reiniciar 
						</button>

						<button *ngIf="myGame.status == 'finished'" type="button" class="nes-btn btn-sm is-primary btn-block" [routerLink]="['/round/', myGame.uid]">
							Resultados
						</button>

						<button *ngIf="myGame.status != 'finished'" type="button" class="nes-btn btn-sm is-success btn-block"  [routerLink]="['/round/', myGame.uid]">
							Jugar! 
						</button>

					</li>

				</ul>
			</div>

		</section>
	</div>



</div>