<div class="limiter animated fadeInRight">
  <div class="container">
        <form 
            #emailForm="ngForm"
            (ngSubmit)="onSubmit(emailForm)">
   
                    <span class="text-danger animated fadeIn" 
                     *ngIf=" emailForm.submitted && emailForm.controls['email'].errors"
                    >El correo es obligatorio</span>

                    <div class="input-group mt-4 mb-4">
                        <input class="nes-input is-dark" 
                               type="email" 
                               name="email" 
                               placeholder="Email"
                               [(ngModel)]="user.email"
                               required
                               email
                               >
                    </div>

                    <span class="text-danger animated fadeIn" 
                     *ngIf="emailForm.submitted && emailForm.controls['name'].errors">
                        El nombre es obligatorio</span>
                    <div class="input-group mt-4 mb-4">
                        <input class="nes-input is-dark" 
                               type="text" 
                               name="name" 
                               placeholder="Nombre y apellidos"
                               [(ngModel)]="user.name"
                               required
                               >
                    </div>
                    
                    <span class="text-danger animated fadeIn" 
                     *ngIf=" emailForm.submitted && emailForm.controls['password'].errors">
                    La contraseña debe contener al menos 8 letras</span>
                    <div class="input-group mt-4 mb-4">
                        <input class="nes-input is-dark"
                               type="password" 
                               name="password" 
                               placeholder="Password"
                               [(ngModel)]="user.password"
                               required
                               minlength="8" 
                               >
                    </div>                  
    
                    <div class="">
                        <button class="nes-btn is-success btn-block" type="submit">
                            Crear cuenta
                        </button>
                    </div>
                    <div class="">
                        <button class="nes-btn is-error btn-block" type="button" [routerLink]="['/login']">
                            Volver al login
                        </button>
                    </div>
                        </form>  

            </div>

    </div>
    
    