  <div class="text-center">
    <img style="width: 250px" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/logo_8_bits.png?alt=media&token=309ebd51-42ba-441e-9c7b-1c2d60988579">
  </div>


<!--
<nav class="container"  *ngIf="user && isLoggedIn" >
  <div class="text-center">
     <button class="nes-btn is-primary" type="button" (click)="logout()">Salir</button>
  </div>
  <div class="row mt-1 mb-2">
    <div class="col-6 text-white mt-1 "> <button class="nes-btn is-primary" type="button" (click)="logout()">{{ user.name }}</button> </div>
    <div class="col-6 text-right mt-1"> <button class="nes-btn is-primary" type="button" (click)="logout()">Salir</button></div>
  </div>
</nav>
-->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn">
  <a class="navbar-brand" href="#">BastaParaMi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/friends']">Amigos</a>
      </li>
    </ul>        
        <button class="btn btn-outline-secondary mr-1" type="button" [routerLink]="['/profile']" *ngIf="user">{{ user.name }}</button>
        <button class="btn btn-outline-info" type="button" (click)="logout()">Salir</button>
  </div>
</nav>
-->