<div class="container">
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Cómo jugar?</h3>
		BASTA PARA MI© es un juego que se basa en el popular "Tuti Fruti". A continuación un breve instructivo para entender su funcionamiento. 

	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 1</h3>
		<div>
			<span>Una vez logueado ir a "Ver Juegos".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso1.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 2</h3>
		<div>
			<span>En "Buscar juego" indicar el ID y presionar "Buscar".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso2.png">	
		</div>
	</section>
	
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 3</h3>
		<div>
			<span>Se validará el ID.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso3.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 4</h3>
		<div>
			<span>Si todo salió bien, se agregará el usuario al juego.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso4.png">	
		</div>
	</section>
	
			<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 5</h3>
		<div>
			<span>Ahora el juego aparece en "Mis Juegos".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso5.png">	
		</div>
		<div>
			Para comenzar, apretar el botón de "Jugar"
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 6</h3>
		<div>
			<span>Al ingresar se accede a la Sala de Espera para esperar que se conecten el resto de los jugadores. Su estado se ve en el recuadro.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso6.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 7</h3>
		<div>
			<span>Cuando todos están conectados comienza el juego.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso7.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 8</h3>
		<div>
			<span>Se indica el número de ronda y la letra correspondiente.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso8.png">	
		</div>
		<div>
			Cargar las respuestas en los bloques de texto y al terminar presionar el botón de "Basta para mi!". 
		</div>

		<div class="alert alert-danger mt-3" role="alert" >
			IMPORTANTE: Si algún jugador se desconecta durante la partida no se podrá realizar el "Basta para mi" hasta que vuelva a conectarse. 
		</div>

		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso8_A.png">	
		</div>

	</section>
	
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 9</h3>
		<div>
			<span>Se debe confirmar la acción.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso9.png">	
		</div>
		<div>
			<span class="nes-text is-warning">El primer jugador en presionar BASTA PARA MI termina la ronda.</span>
		</div>

	</section>
	
			<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 10</h3>
		<div>
			<span>Al confirmar se bloquean las respuestas y se indica el jugador que finalizó primero.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso10.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 11</h3>
		<div>
			<span>Se muestran las respuestas del propio jugador.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso11.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 12</h3>
		<div>
			<span>Y las respuestas del resto de los jugadores.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso12.png">	
		</div>
		<div class="nes-text is-warning">
			Se pueden aprobar y desaprobar las respuestas. 
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 13</h3>
		<div>
			<span>Si la mayoría desaprueba, la respuesta es marcada como no válida</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso13.png">	
		</div>
		<div class="nes-text is-warning">
			Respuesta válida: 10 puntos. <br>
			Respuesta no válida: 0 puntos.
		</div>

	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 14</h3>
		<div>
			<span>Al terminar las correcciones presionar "Próxima Ronda"</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso14.png">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 15</h3>
		<div>
			<span>Se mostrará un cartel con el estado de revisión del resto de los jugadores.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso15.png">	
		</div>
		<div class="nes-text is-warning">
			Cuando finalicen las revisiones, continuarán con la siguiente ronda hasta completar el juego.
		</div>


	</section>

		<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 16</h3>
		<div>
			<span>Al finalizar el juego se muestran los resultados.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="../../../assets/images/wikipics/Paso16.png">	
		</div>

	</section>
</div>
