<div class="container">
	<div class="text-center">
		  <button type="button" class="nes-btn" [routerLink]="['/']"><i class="fas fa-home"></i> Regresar</button>
	</div>
	
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Cómo jugar?</h3>
		BASTA PARA MI© es un juego que se basa en el popular "Tuti Fruti". A continuación un breve instructivo para entender su funcionamiento. 

	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 1</h3>
		<div>
			<span>Una vez logueado ir a "Ver Juegos".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso1.png?alt=media&token=8814d138-fdfc-4661-aa39-4017dca87b1c">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 2</h3>
		<div>
			<span>En "Buscar juego" indicar el ID y presionar "Buscar".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso2.png?alt=media&token=4c9d74b1-363a-4f3e-9c86-ebceb77c3ac7">	
		</div>
	</section>
	
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 3</h3>
		<div>
			<span>Se validará el ID.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso3.png?alt=media&token=84154ff8-7f4b-4b46-acf1-e4afd36dc286">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 4</h3>
		<div>
			<span>Si todo salió bien, se agregará el usuario al juego.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso4.png?alt=media&token=b20b4118-7785-47c5-bd30-7f19389f1017">	
		</div>
	</section>
	
			<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 5</h3>
		<div>
			<span>Ahora el juego aparece en "Mis Juegos".</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso5.png?alt=media&token=4325ec5d-1bec-4d3f-b57a-cc392bc5f986">	
		</div>
		<div>
			Para comenzar, apretar el botón de "Jugar"
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 6</h3>
		<div>
			<span>Al ingresar se accede a la Sala de Espera para esperar que se conecten el resto de los jugadores. Su estado se ve en el recuadro.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso6.png?alt=media&token=c55c29a4-5e02-4747-88e3-d60219b268f4">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 7</h3>
		<div>
			<span>Cuando todos están conectados comienza el juego.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso7.png?alt=media&token=b732d972-7f46-4b31-b48e-efae86d049e2">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 8</h3>
		<div>
			<span>Se indica el número de ronda y la letra correspondiente.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso8.png?alt=media&token=49a15d2e-d082-4858-97bf-42e9b6a295cc">	
		</div>
		<div>
			Cargar las respuestas en los bloques de texto y al terminar presionar el botón de "Basta para mi!". 
		</div>

		<div class="alert alert-danger mt-3" role="alert" >
			IMPORTANTE: Si algún jugador se desconecta durante la partida no se podrá realizar el "Basta para mi" hasta que vuelva a conectarse. 
		</div>

		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso8_A.png?alt=media&token=911d5419-55b5-4d7d-8439-036d3dedbfc2">	
		</div>

	</section>
	
	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 9</h3>
		<div>
			<span>Se debe confirmar la acción.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso9.png?alt=media&token=4c1da5ed-a02e-48cd-8ba6-a7c0567fc88d">	
		</div>
		<div>
			<span class="nes-text is-warning">El primer jugador en presionar BASTA PARA MI termina la ronda.</span>
		</div>

	</section>
	
			<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 10</h3>
		<div>
			<span>Al confirmar se bloquean las respuestas y se indica el jugador que finalizó primero.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso10.png?alt=media&token=85da293f-c71b-4257-b989-da1f8623fad1">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 11</h3>
		<div>
			<span>Se muestran las respuestas del propio jugador.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso11.png?alt=media&token=0f81aa40-f46b-4568-b2b8-bbf9c6216bb3">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 12</h3>
		<div>
			<span>Y las respuestas del resto de los jugadores.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso12.png?alt=media&token=91c1c914-14db-4ebb-8ed5-a1ff247cee98">	
		</div>
		<div class="nes-text is-warning">
			Se pueden aprobar y desaprobar las respuestas. 
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 13</h3>
		<div>
			<span>Si la mayoría desaprueba, la respuesta es marcada como no válida</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso13.png?alt=media&token=8bda5962-13c0-47a7-8bec-fb18d5422371">	
		</div>
		<div class="nes-text is-warning">
			Respuesta válida: 10 puntos. <br>
			Respuesta no válida: 0 puntos.
		</div>

	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 14</h3>
		<div>
			<span>Al terminar las correcciones presionar "Próxima Ronda"</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso14.png?alt=media&token=1afe0e57-5f5a-45e6-997c-b5c6e15fbae5">	
		</div>
	</section>

	<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 15</h3>
		<div>
			<span>Se mostrará un cartel con el estado de revisión del resto de los jugadores.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso15.png?alt=media&token=270e40aa-913f-4a8b-98df-302855784e4a">	
		</div>
		<div class="nes-text is-warning">
			Cuando finalicen las revisiones, continuarán con la siguiente ronda hasta completar el juego.
		</div>
	</section>

		<section class="nes-container is-dark with-title mt-3" >
		<h3 class="title">Paso 16</h3>
		<div>
			<span>Al finalizar el juego se muestran los resultados.</span>
		</div>
		<div class="text-center">
			<img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/tutifruttiquarantine.appspot.com/o/wiki%2FPaso16.png?alt=media&token=e28c41c2-3ad0-4652-b67a-adb0d1555ef7">	
		</div>

	</section>
</div>
