<div class="m-2 animated fadeInRight">
	<h1>Buscar amigos</h1>
	<hr>
	<div>
		<ul *ngIf="listUsers && listUsers.length > 0" class="list-group">
			<li *ngFor="let userFriend of listUsers; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
				      
				      {{ userFriend.name }}
		          <span class="">
		          	<button type="button" class="btn btn-success" (click)="addFriend(userFriend)" *ngIf="checkFriend(userFriend)">AGREGAR</button>
		          	<button type="button" class="btn btn-danger" (click)="removeFriend(userFriend)" *ngIf="!checkFriend(userFriend)">QUITAR</button>
		          </span>

			</li>
		</ul>
	</div>

</div>
