<div class="limiter animated fadeInLeft">
  <div class="container">    
    <form 
        #emailForm="ngForm"
        (ngSubmit)="onSubmit(emailForm)">    
        <div class="input-group">
                <span class="text-danger animated fadeIn" 
                *ngIf=" emailForm.submitted && emailForm.controls['email'].errors"
                >El correo es obligatorio</span>                          
                    <input class="nes-input is-dark" 
                           type="email" 
                           name="email" 
                           placeholder="Email"
                           email
                           required
                           [(ngModel)]="user.email"
                           >
        </div>
        
        <div class="input-group mt-2 mb-2 ">
                <span class="text-danger animated fadeIn" 
                *ngIf=" emailForm.submitted && emailForm.controls['password'].errors">                
                La contraseña debe contener al menos 8 letras</span>
                    <input class="nes-input is-dark"
                           type="password" 
                           name="password" 
                           placeholder="Password"
                           required
                           minlength="8" 
                           [(ngModel)]="user.password"
                           >
        </div>

        <div >
          <button class="nes-btn is-success btn-block" type="submit">
              Ingresar
          </button>
          <button class="nes-btn is-primary btn-block" type="button" (click)="loginProvider('FACEBOOK')">
                <i class="nes-icon facebook is-small"></i> Facebook
          </button>
          <button class="nes-btn is-error btn-block"  type="button" (click)="loginProvider('GOOGLE')">
              <i class="nes-icon gmail is-small"></i> Gmail
          </button>
          <button class="nes-btn is-warning btn-block" type="button" [routerLink]="['/registro']">
              Registrarse
          </button>
        </div>

      </form>

</div>

