<div *ngIf="game" class="container">

	<div *ngIf="round && game.status != 'finished'">
		<h2 class="text-center">Ronda {{game.current+1}}/{{game.rounds}} Letra: {{ game.letters[game.current] }}</h2>

		<div *ngIf="game.status == 'revision'">
 				<div class="alert alert-danger" role="alert" *ngIf="userApproved()">
				  Esperando la confirmación del resto de los jugadores
				</div>

				<div class="container" *ngFor="let player of roundsPlayers">
					
					<ul class="list-group mb-2">
						<li class="list-group-item bg-info" >
							<h3 class="text-center">{{ player.name }}</h3>					
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let categoryPlayer of player.roundPlayer[game.current].categories; let catIndex = index">


							<div class="container">
								<span class="text-center"><strong>{{ categoryPlayer.name }} ( {{ categoryPlayer.points }} Pts.)</strong></span>
								<div class="row">							    
								     <div class="col mt-2 mb-2">	
								     		<span class="badge badge-danger badge-pill" *ngIf="!categoryPlayer.value">
								     			<i class="fas fa-times" aria-hidden="true"></i>
								     		</span> {{ categoryPlayer.value || '-'}} 
								    </div>
								</div>
								<table class="table" *ngIf="categoryPlayer.value">
									<thead class="thead-light">
										<tr>
											<th colspan="2">Jugador</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let revision of categoryPlayer.revision; let usrIndex = index">
											<td>{{ revision.name }} 
												<span *ngIf="revision.uid == userId">
													<span class="badge badge-primary badge-pill"><i class="fas fa-thumbs-up" aria-hidden="true" *ngIf="revision.approved" ></i></span>
													<span class="badge badge-danger badge-pill"><i class="fas fa-thumbs-down" aria-hidden="true" *ngIf="!revision.approved"></i></span>
												</span>
											</td>

											<td class="text-right" *ngIf="revision.uid == userId">
												<button type="button" class="btn btn-sm btn-outline-danger" *ngIf="revision.approved" (click)="revisionApprove(player, catIndex, usrIndex)">
													Desaprobar <i class="far fa-times-circle" ></i>
												</button>
												<button type="button" class="btn btn-sm btn-outline-success" *ngIf="!revision.approved" (click)="revisionApprove(player, catIndex, usrIndex)">
													Aprobar <i class="far fa-check-circle" ></i>
												</button>
											</td>

											<td class="text-right" *ngIf="revision.uid != userId">
												<span class="badge badge-primary badge-pill"><i class="fas fa-thumbs-up" aria-hidden="true" *ngIf="revision.approved" ></i></span>    
												<span class="badge badge-danger badge-pill"><i class="fas fa-thumbs-down" aria-hidden="true" *ngIf="!revision.approved"></i></span>  </td>
										</tr>
									</tbody>
								</table>
							</div>
						</li>
					</ul>
				</div>

			<button class="btn btn-block btn-success" type="button" (click)="approve()" [disabled]="userApproved()" >CONTINUAR </button>
		</div>

		<div *ngIf="game.status == 'online'">
			<form
					#roundForm="ngForm" *ngIf="game"
					(ngSubmit)="onSubmit(roundForm)"
			>	
				<ul>
					<li *ngFor="let category of round.roundPlayer[game.current].categories">
						<input class="form-control" type="text" name="{{ category.name }}" id="{{ category.name }}" placeholder="{{ category.name }}" [(ngModel)]="category.value" (change)="changeValue()">					
					</li>
				</ul>	

				<button class="btn btn-block btn-success" type="submit" >BASTA PARA MI! </button>
				<!--<button class="btn btn-block btn-success" type="submit" >SIGUIENTE! {{ round.roundNumber }} / {{ game.rounds }} </button>-->
				
			</form>
		</div>	
	</div>
	
	<div *ngIf="game.status == 'finished'">			
			<h3>Juego Finalizado!</h3>

			<table class="table">

				<tbody *ngFor="let data of roundsPlayers">
					<tr>
						<td class="text-center" colspan="2"><h3>{{ data.name }}</h3></td>
					</tr>

					<tr *ngFor="let round of data.roundPlayer">
						<td>{{ round.letter }}</td>
						<td>
							<p *ngFor="let cats of round.categories"><b>{{ cats.name }}:</b> {{ cats.value}} ({{ cats.points }} pts.)</p>
						</td>						
					</tr >

					<tr class="bg-light mb-2" style="height: 50px">
						<th >Puntaje</th>
						<td ><b>{{ data.points }}</b></td>
					</tr>

				</tbody>
			</table>

			<!--

			<ul>
				<li *ngFor="let data of roundsPlayers">
					<h3>{{ data.name }}</h3>
					<ul>
						<li *ngFor="let round of data.roundPlayer">
							<h4>{{ round.letter }}</h4>
							<ul>
								<li *ngFor="let cats of round.categories">
									<b>{{ cats.name }}:</b> {{ cats.value}} ({{ cats.points }} pts.)
								</li>
							</ul>
						</li>
					</ul>
					<hr>
				</li>
			</ul>-->

	</div>

</div>