
<div *ngIf="game" class="container">
	
	<div class="text-center">
			<button type="button" class="nes-btn" (click)="exit()"><i class="fas fa-home"></i> Salir </button>
	</div>

		<div *ngIf="waiting">
			<section class="nes-container is-dark is-centered with-title">
				<h3 class="title">Sala de espera</h3>
				<span style="margin-top: 35px !important; margin-bottom: 35px !important">Espere a que se conecten los jugadores...</span>
				<ul class="mt-4">
					<li *ngFor="let connected of game.connected">
						{{ connected.name }} 
						<span *ngIf="connected.status" class="nes-text is-success">online</span>
						<span *ngIf="!connected.status" class="nes-text is-error">offline</span>
					</li>
				</ul>
			</section>		
		</div>


	<div *ngIf="round && game.status != 'finished'">


		<div *ngIf="game.status == 'revision'">
			<section class="nes-container is-dark is-centered with-title mt-3"  >
				<h3 >Letra: {{ game.letters[game.current] }} | Ronda {{game.current+1}}/{{game.rounds}}</h3>
				<div>
					<span class="nes-text is-success">Basta para {{ game.finishedBy }}!!!</span>
				</div>
				<span class="nes-text is-error">Verifique los resultados de los otros jugadores.</span>
				
			</section>

			<div *ngFor="let player of roundsPlayers | revisionplayers:userId:true">
					<h3 style="margin-top: 45px !important" class="nes-text is-primary text-center">
					  {{ player.name }}
					</h3>													

				<div class="mb-2" *ngFor="let categoryPlayer of player.roundPlayer[game.current].categories; let catIndex = index">
					<section class="nes-container is-dark with-title mt-3">
						<h3 class="title">
							{{ categoryPlayer.name }}
						</h3>		    		

						<span class="nes-text is-error"><i class="far fa-check-circle fa-lg" style="color:green" *ngIf="categoryPlayer.value && categoryPlayer.points > 0"></i> 
						<i class="far fa-times-circle fa-lg" style="color:red" *ngIf="!categoryPlayer.value || categoryPlayer.points == 0"></i> {{ categoryPlayer.value || '-'}} </span>	
					<div *ngIf="categoryPlayer.value">
						<ul class="list-group">
							<li class="list-group-item-results text-center text-white">
								VOTACIONES
							</li>
						    <li class="list-group-item-results d-flex justify-content-between align-items-center" *ngFor="let revision of categoryPlayer.revision; let usrIndex = index">
						    	<span class="nes-text text-white">{{ revision.name }} </span>
						    	<span class="text-right"><i class="nes-icon is-medium like" [ngClass]="revision.approved ? '' : 'is-empty'" ></i></span>
						    </li>
						</ul>
					</div>	

					</section>
				</div>
			</div>

			<div style="margin-top: 45px !important" *ngFor="let player of roundsPlayers | revisionplayers:userId:false">
				<div class="text-center" 
				>
					<h3 class="nes-text is-warning">
					  {{ player.name }}
					</h3>													
				</div>

				<div class="mb-2" *ngFor="let categoryPlayer of player.roundPlayer[game.current].categories; let catIndex = index">
					<section class="nes-container is-dark with-title mt-3">
						<h3 class="title">
							{{ categoryPlayer.name }}
						</h3>		    		

						<span class="nes-text is-error"><i class="far fa-check-circle fa-lg" style="color:green" *ngIf="categoryPlayer.value && categoryPlayer.points > 0"></i> 
						<i class="far fa-times-circle fa-lg" style="color:red" *ngIf="!categoryPlayer.value || categoryPlayer.points == 0"></i> {{ categoryPlayer.value || '-'}} </span>						
					</section>

					<div *ngIf="categoryPlayer.value">
						<button class="nes-btn btn-block is-error" *ngIf="revisionStatus(player, catIndex) && !userApproved()" (click)="revisionApprove(player, catIndex)">DESAPROBAR</button>
						<button class="nes-btn btn-block is-success" *ngIf="!revisionStatus(player, catIndex) && !userApproved()" (click)="revisionApprove(player, catIndex)">APROBAR</button>
						<ul class="list-group">
							<li class="list-group-item-results text-center text-white">
								VOTACIONES
							</li>
						    <li class="list-group-item-results d-flex justify-content-between align-items-center" *ngFor="let revision of categoryPlayer.revision; let usrIndex = index">
						    	<span class="nes-text text-white">{{ revision.name }} </span>
						    	<span class="text-right"><i class="nes-icon is-medium like" [ngClass]="revision.approved ? '' : 'is-empty'" ></i></span>
						    </li>
						</ul>
					</div>					
				</div>
			</div>
	
			<div class="alert alert-danger" role="alert" *ngIf="userApproved()">
			  Esperando la confirmación del resto de los jugadores
			  <ul *ngFor="let playerRevision of game.revision">
			  	<li *ngIf="playerRevision.uid != userId"><i [ngClass]="playerRevision.status ? 'far fa-check-circle text-success' : 'fas fa-exclamation-circle text-danger'"></i> {{ playerRevision.name }}</li>
			  </ul>
			</div>

			<button class="nes-btn btn-block is-primary" style="height: 75px !important; margin-top: 25px !important" type="button" (click)="approve()" *ngIf="!userApproved()" >PROXIMA RONDA </button>
		</div>

		<div *ngIf="game.status == 'online'" class="animated fadeInLeft">

			<section class="nes-container is-dark with-title mt-3"  >
				<h3 class="title">Ronda {{game.current+1}}/{{game.rounds}}</h3>
					<div class="text-center">Letra: {{ game.letters[game.current] }}</div>
					<form
						#roundForm="ngForm" *ngIf="game"
						(ngSubmit)="onSubmit(roundForm)"
					>	

						<div class="form-group" *ngFor="let category of round.roundPlayer[game.current].categories">
							<div class="bg-primary " style="height: 30px; line-height: 30px">
								<span class="ml-2">{{ category.name }}</span>
							</div>
							<div class="input-group">
								<input type="text" class="nes-input is-dark" name="{{ category.name }}" id="{{ category.name }}" placeholder="{{ game.letters[game.current] }}" [(ngModel)]="category.value" autofocus  (change)="changeValue()">
							</div>
						</div>		
						<div class="alert alert-danger" role="alert" *ngIf="waiting">
							Hay jugadores sin conexión, podrá finalizar la partida cuando estén todos conectados
						</div>
						<button class="nes-btn btn-block is-success"  type="submit" [disabled]="waiting"> BASTA PARA MI!</button>
					</form>
			</section>					
		</div>	
	</div>
	
	<div *ngIf="game.status == 'finished'" class="container">	
		<h3 class="text-center mt-3 mb-2 text-danger">GAME OVER</h3>
    		<div class="text-center">
    			  <button class="nes-btn is-primary" type="button" *ngIf="!showResults" (click)="showResultsChange(true)">
					   MOSTRAR RESPUESTAS
				  </button>
    			  <button class="nes-btn is-error" type="button" *ngIf="showResults" (click)="showResultsChange(false)">
					   OCULTAR RESPUESTAS
				  </button>				  
    		</div>

		    <ul class="list-group">
		        <li class="list-group-item-results text-center " *ngFor="let data of roundsPlayers | sortplayers ">
		    		<div *ngIf="data.position == 1">
		    			<i class="nes-icon trophy is-large" ></i>
		    		</div>
		    		<div class="nes-text is-warning"> {{ data.name }} </div>
		    		<div class="nes-text is-warning">{{ data.points }} Pts.</div>
		    		<div *ngIf="showResults">
						<div *ngFor="let roundResult of data.roundPlayer ">
			        		<div class="nes-text text-white bg-primary" style="height: 35px; line-height: 35px">Letra {{ roundResult.letter }}</div>

			        		<div *ngFor="let categoryResult of roundResult.categories" style="border-bottom: 1px solid white">
			        				<span class="nes-text is-primary">{{ categoryResult.name }}</span>
			        				<div>
			        					<span class="nes-text text-white">{{ categoryResult.value || '-'}} ({{ categoryResult.points}} pts.)</span>
			        				</div>
			        		</div>
			        	</div>		    			
		    		</div>
		        </li>
		    </ul>
	</div>
</div>