body{
	font-family: 'Press Start 2P', cursive;
	background-color: #202428;
}

.game-status-online{
	color:green;
}

.game-status-revision{
	color:yellow;
}

.game-status-finished{
	color:red;
}


.img-winner{
	
	width: 150px;
	height: 150px;
}

.img-player-ranking{
	
	width: 120px;
	height: 120px;	
}

.list-group-item-results{
	position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;    
    border-bottom: 1px dashed white;
}